
body {
  // background-image: url('/assets/blue-sky-clouds-425x282.jpg');
  // background-repeat: cover;
  // width: 4250px;

}

#calculatorFrame {
  // background-image: url('/assets/blue-sky-clouds-425x282.jpg');
  // background-repeat: no-repeat;
  // size: 300%;
}

#screen {
  width: 232px;
  height: 80px;
  background-color: rgb(142,140,141);

  color: white;
  text-align: right;
  margin-left: 40px;
  vertical-align: bottom;
  line-height: 47px;
  font-size: 50px;

  border: 1px solid rgb(142,140,141);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  // padding-top: 10px;
}

// NOTE this ul statement removes white space between li elements!!
ul {
  font-size: 0
}

li {
  vertical-align: top;
  display: inline-block;
}

.key {
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  line-height: 47px;
}

.number {
  width: 56px;
  height: 47px;
  background-color: rgb(220,220,220);
  font-size: 20px;
}

#clear {
  width: 56px;
  height: 47px;
  background-color: rgb(208,208,208);
  vertical-align: middle;
  font-size: 20px;
}

#changeSign {
  width: 56px;
  height: 47px;
  background-color: rgb(208,208,208);
  font-size: 20px;
}

#modulus {
  width: 56px;
  height: 47px;
  background-color: rgb(208,208,208);
  font-size: 20px;
}

.operator {
  width: 58px;
  height: 47px;
  background-color: rgb(246,135,44);
  font-size: 20px;
  color: white;

}

.zeroKey {
  display: inline-block;
  width: 114px;
  height: 47px;
  background-color: rgb(220,220,220);
  border: 1px solid gray;
  border-bottom-left-radius: 5px;
}

#zero {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 47px;
}

#decimal {
  width: 56px;
  height: 47px;
  background-color: rgb(220,220,220);
  font-size: 20px;
  // text-align: center;
  // vertical-align: middle;
  // line-height: 50px;
}

#equals {
  width: 58px;
  height: 47px;
  background-color: rgb(246,135,44);
  font-size: 20px;
  color: white;

  // border: 1px solid gray;
  // border-bottom-right-radius: 5px;
}
