doctype html
html
  head
    meta(charset='utf-8')      
    title jQuery Demo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 jQuery Demo
    
    h1 sentence generator
    button#clear Clear
    
    h3 articles
    span.article a
    span.article the
    
    h3 nouns
    span.noun dog
    span.noun student
    span.noun house
    span.noun California
    
    h3 verbs
    span.verb run 
    span.verb laugh
    span.verb jump
    span.verb study
    
    h3 adjectives
    span.adjective large
    span.adjective loud
    span.adjective crazy
    span.adjective small
    
    h3 sentence
    #sentence
    
    
    
    //- p#main This is P1
    //- p.x.y This is P2
    //- p#alt.x This is P3
    //- p.y.x This is P4
    
    //- CREATING A TEXTBOX AND A BUTTON
    //- FIRST CREATE THE IMPUT AND BUTTON BEFORE GOING TO .js
    //- h1 Calculator
    //- input#x(type='text')
    //- input#oper(type='text')
    //- input#y(type='text')
    //- button#go Calculate!
    //- p#result
    //- 
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
