body{
  color: hsla(52, 100%, 20%, 1.0);
  background-color: #FFDC00;
}

.article {
  color: blue;
}

.noun {
  color: orange;
  border: 1px solid blue;
}

.verb {
  color: red;
  border: 1px solid green;
}

.adjective {
  color: yellow;
}

#apollo{
  border: 5px solid hsla(52, 100%, 20%, 1.0);
  width: 150px;
  height: 225px;
}

#title{
  position: relative;
  top: -170px;
  left: 200px;
  font-family: monospace;
  letter-spacing: 10px;
  font-size: 40px;
}

.fun {
  color: yellow;
  background-color: red;
  font-size: 20px;
  border:1px solid green;
  padding: 5px;
}

.alert {
  color: blue;
  background-color: green;
  font-size: 55px;
  border:1px solid green;
  padding: 5px;
}
